body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  background-color: #EEE;
  background: linear-gradient(to right, #999, #EEE);
  background: -webkit-linear-gradient(left, #CCC, #EEE 2%);
  box-sizing: border-box;
  padding: 15px 24px;
  color: #393D3F;
  overflow-y: scroll;
}

#sidebar .bottom {
  position: absolute;
  bottom: 1.25em;
}

#sidebar h1 {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 0.25em;
}

#sidebar h2 {
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#sidebar p {
  margin: 0;
  padding: 0;
  line-height: 125%;
}

#sidebar a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}



/** Visualization. */

.background {
  fill: #FFF;
  pointer-events: all;
}

.montgomery {
  fill: #AAA;
}

.montgomery.active {
  fill: #DDD;
  transition: fill 0.75s ease;
}

.border {
  fill: none;
  stroke: #222;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.cluster {
  fill: #AAA;
  background-clip: content-box;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease;
}

/* .cluster:hover {
  stroke-width: 1.5px;
} */

.cluster.background {
  fill: #DDD !important;
}

.school {
  /*stroke: black;*/
  stroke-width: 1px;
  fill: transparent;
  pointer-events: all;
}

.school:hover {
  stroke-width: 1.5px !important;
}

.school.active {
  stroke-width: 2.5px;
}
