body {
  margin: 0;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background-color: #D1D1D3;
  background: linear-gradient(to right, #999, #E3E3E5);
  background: -webkit-linear-gradient(left, #CCC, #E3E3E5 2%);
  box-sizing: border-box;
  padding: 1em 1.5em;
  color: #393D3F;
  overflow: scroll;
}

.background {
  fill: #FFF;
  pointer-events: all;
}

.montgomery {
  fill: #AAA;
}

.montgomery.active {
  fill: #DDD;
  transition: fill 0.75s ease;
}

.border {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.cluster {
  fill: transparent;
  background-clip: content-box;
  stroke: transparent;
  stroke-width: 2px;
  transition: fill 0.5s ease;
}

.cluster.background {
  fill: transparent;
}

.school {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  pointer-events: all;
}

.school:hover {
  fill: black;
}
